snippet stdio "standard input/output" -i
#include <stdio.h>
$1
endsnippet

snippet incl "include" -i
#include $1
endsnippet

snippet () "Parenthesis expansion" -iA
($1)
endsnippet

snippet {} "Brace expansion" -iA
{
	$1
}
endsnippet
