snippet main "Contest template" bA
/**
 *    author: awb29
 *    created: `date`
**/

#include <bits/stdc++.h>
using namespace std;

void solve() {
	$1
}

int main() {
	ios::sync_with_stdio(false);
	cin.tie(0);
	int tt;
	cin >> tt;
	while (tt--) {
		solve();
	}
	return 0;
}
endsnippet
