snippet main "Contest template" b
/**
 *    author: awb29
 *    created: `date`
**/

#include <iostream>
using namespace std;

void solve() {
	$1
}

int main() {
	ios::sync_with_stdio(false);cin.tie(0);cout.tie(0);
	int tt;
	cin >> tt;
	while (tt--) {
		solve();
	}
	return 0;
}
endsnippet

snippet inc "Include" b
#include <$1>
endsnippet
