snippet main "Contest template" b
#
#  author: awb29
#  created: `date`
#

def solve():
	$1

if __name__ == "__main__":
	t = int(input())
	for _ in range(t):
		solve()
endsnippet

snippet lsin "List input" w
list(map(int, input().split(' ')))
$1
endsnippet

snippet inin "Int input" w
int(input())
$1
endsnippet
